@charset "utf-8";
.css {
}

*{margin:0;padding:0;}


body{
	background-image: url(image/img1.jpg);

}

p{
text-indent: 2em;
margin: 8px;
}

.main{
	float: left;
	width: 950px;
	margin-top: 30px;
	padding-top:30px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:30px;
	background-color:#FFFFFF;
	opacity: 0.9;
}

.main .title{
	text-align: center;
}

.all{
	width:950px;
	margin:0 auto;
	text-align: center;
}

.image{
	float:left;
	width:383px;
	height:110px;
}


.name2{
	width:516px;
	height:20px;
	float:right;
	margin-top:60px;

}

.name2 ul{
	list-style-type:none;
}
.name2 ul li{
	float:right;
	margin-left:1px;
	background-color:#0068b7;
	color:#FFFFFF;
	width:90px;
	height:40px;
	line-height:40px; 
	text-align:center;

}


.menu{
	float:left;
	width:950px;
	height:29px;
	margin:0 auto;
	margin-top: 30px;
}

.menu ul{
	padding:0;
	margin:0;
	list-style-type:none;
}

.a1{
	width:20px;
	color:#FFFFFF;
	float:left;
	line-height:35px; 
	margin-left:10px;
}

.menu ul .a2{
	float:left;
	background-color:#0068b7;
	color:#FFFFFF;
	width:120px;
	height:35px;
	line-height:35px; 
	text-align:center;
}

a{ 
	text-decoration:none;
	color:#FFFFFF;
}

a:hover{
	display:block;
	background-color:#FFFFFF;
	color:#0068b7;
	text-decoration: none; 
}

a:visited{
	color:#3333CC;
	text-decoration: none; 
}